<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/queries.css" />
    <script defer src="/js/script.js"></script>
    <title>Todo app</title>
  </head>
  <body class="">
    <button class="logout-btn">
      Logout
    </button>
    <img class="background-image" src="/images/bg-desktop-dark.jpg" />
    <div class="container flexbox">
      <div class="heading flexbox">
        <div class="title">Todo</div>
        <button class="theme-btn">
          <img class="theme-icon" src="/images/icon-sun.svg" alt="switch-to-light-mode" />
        </button>
      </div>
      <div class="to-do-input user-input">
        <input type="checkbox" id="input-checkbox" class="checkbox" />
        <label
          style="width: 0;"
          for="input-checkbox"
          class="checkbox-label input-checkbox-label"
        ></label>
        <input
          type="text"
          class="to-do-input-box"
          placeholder="Create a new to do..."
        />
      </div>
      <div class="to-do flexbox">
        <div class="filter-container hide-filter flexbox">
          <div class="left-to-do">0 items left</div>
          <div class="filter">
            <button class="all-to-do filter-active">All</button>
            <button class="active-to-do">Active</button>
            <button class="completed-to-do">Completed</button>
          </div>
          <button class="clear-to-do">Clear Completed</butt>
        </div>
      </div>
      <div class="mobile-filter-container hide-filter flexbox">
        <div class="filter">
          <button class="all-to-do filter-active">All</button>
          <button class="active-to-do">Active</button>
          <button class="completed-to-do">Completed</button>
        </div>
      </div>
    </div>
    <footer class="footer">Drag and drop to reorder list</footer>
  </body>
</html>
